* {
    /* border: 2px solid black; */
}
:root {
    --nuetral: 200;
    --wrong: 0;
    --correct:145;
}
body {
    display: flex;
    margin: 0;
    padding:0;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color: hsl(var(--nuetral),100%,20%);
}

.timer{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    width:auto;
    /* height: 50px; */
    background-color: white;
}
.timer p{
    background-color: hsl(var(--nuetral),100%,50%);
     color: white;
    font-size: 500%;
    width:100%;
    padding: 10px;
    margin: 10px;
}
header {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 10px 30%;
    width: fit-content;
    background-color:white ;
}

h1 {
    background-color: hsl(var(--nuetral),100%,50%);
    margin: 5px;
    padding: 5px;
    color: white;
}

.answer-btn {
    background-color: hsl(var(--nuetral),100%,50%);
    color: white;
    font-size: 30px;
    width: 100%;
    margin: 5px;
}
.btn:hover{
    border: 4px solid black;
}
button:active{
    background-color: rgb(53, 116, 141);
}
ul {
    list-style: upper-latin;
    font-size: 40px;
    margin-left: 10%;
}
#question {
    margin-left: 10%;
    font-size: 200%;
    margin: auto;
}
body.correct {
    background-color: hsl(var(--correct),100%,20%);
}
body.wrong {
    background-color: hsl(var(--wrong),100%,20%);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
}
.btn.correct {
    background-color: hsl(var(--correct),100%,20%);
}
.btn.wrong {
    background-color: hsl(var(--wrong),100%,20%);
}
.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 10px 20px;  
    width: 100%;
    margin: 5px;  
    color: white;
    background-color: hsl(var(--nuetral),100%,50%);

    
}
.control {
    display: flex;
    justify-content: center;
    align-items:center ;
}
.hide {
    display: none;
}